* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F9F9F9;
  color: #262626;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1596px;
  width: 90%;
  margin: auto;
}

.logo {
  width: 200px;
  height: 34px;
}

.section {
  margin-top: 200px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-radius: 10px;
  background: #F8F8F8;
  color: #262626;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.button:hover {
  background: #AFE982;
  color: #fff;
}

.button-favorite {
  border: none;
  min-width: 50px;
  height: 50px;
  background: #F8F8F8 url(../img/favorite.svg) no-repeat center;
  cursor: pointer;
  border-radius: 10px;
  transition: background 0.1s ease-in-out;
}
.button-favorite:hover {
  background: #AFE982 url(../img/favorite-active.svg) no-repeat center;
}
.button-favorite--active {
  background: #AFE982 url(../img/favorite-active.svg) no-repeat center;
}

.section-title {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.section-title--accent {
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  font-weight: 400;
}

.swiper-button-prev,
.swiper-button-next {
  left: auto !important;
  right: auto !important;
  top: auto !important;
  bottom: auto !important;
  margin-top: 0 !important;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  content: "" !important;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #262626;
}
.header--main {
  margin-top: 60px;
}
.header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1110px;
  width: 100%;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 705px;
  width: 100%;
}
.header__link {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.header__link--courses {
  padding-left: 20px;
  background: url(../img/burger.svg) no-repeat left;
}
.header__link--info {
  padding-right: 20px;
  background: url(../img/information.svg) no-repeat right;
}
.header__interaction {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 210px;
  width: 100%;
}
.header__search {
  border: none;
  width: 17px;
  height: 19px;
  background: url(../img/search.svg) no-repeat center/cover;
  cursor: pointer;
}
.header__button {
  padding: 10px 19px;
  border-radius: 10px;
  flex-shrink: 0;
  color: #86BCED;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background-color: #fff;
  cursor: pointer;
  border: none;
}

.promo {
  margin-top: -102px;
  padding: 20px;
}
.promo__wrap {
  background: #86BCED;
  border-radius: 65px;
}
.promo__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1596px;
  width: 84%;
  margin: auto;
  padding-bottom: 90px;
}
.promo__info {
  display: flex;
  flex-direction: column;
}
.promo__heading {
  margin-top: 212px;
  display: flex;
  flex-direction: column;
}
.promo__title {
  font-family: "Open Sans Hebrew", sans-serif;
  font-size: 70px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
}
.promo__form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  max-width: 785px;
  width: 100%;
}
.promo__input-wrapper {
  position: relative;
  max-width: 373px;
  width: 100%;
  display: flex;
  align-items: center;
}
.promo__input {
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: none;
  padding-left: 30px;
}
.promo__input::-moz-placeholder {
  color: #E6E6E6;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.promo__input::placeholder {
  color: #E6E6E6;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.promo__button {
  position: absolute;
  right: 0;
}
.promo__form-icon {
  width: 28px;
  height: 15px;
  background: url(../img/arrow-light.svg) no-repeat center/cover;
}
.promo__form-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #fff;
  border-radius: 12px;
  max-width: 360px;
  width: 100%;
  height: 44px;
}
.promo__requests {
  margin-top: 35px;
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.promo__request-link {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  border-bottom: 1px solid #fff;
}
.promo__tags {
  max-width: 660px;
  width: 100%;
  margin-top: 80px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
}
.promo__tag {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 999px;
  border: 1px solid #fff;
  padding: 10px 30px;
}
.promo__tag--more {
  background: #fff;
  color: #86BCED;
}
.promo__img-wrap {
  position: relative;
  margin-top: 100px;
  width: 754px;
  height: 639px;
}
.promo__img-text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  position: absolute;
  top: 18%;
  left: 4%;
  width: 174px;
  height: 50px;
  border-radius: 11px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5.5px);
          backdrop-filter: blur(5.5px);
}
.promo__img-text::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 11px;
  right: 0;
  bottom: 0;
  width: 16px;
  height: 16px;
  background: rgba(164, 211, 255, 0.6) url(../img/round.svg) no-repeat center;
  transform: translate(40%, 40%);
}
.promo__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.courses__title {
  max-width: 905px;
}
.courses__menu {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.courses__categories {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.courses__category {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 10px 30px;
  border-radius: 999px;
  border: 1px solid #262626;
  background: none;
  cursor: pointer;
}
.courses__category--popular {
  padding-left: 27px;
  background: url(../img/popular.svg) no-repeat left center;
}
.courses__layout-buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.courses__layout-button {
  width: 40px;
  height: 40px;
  background: none;
  border-radius: 10px;
  border: 1px solid #262626;
  cursor: pointer;
}
.courses__layout-button--grid {
  background: url(../img/grid.svg) no-repeat center;
}
.courses__layout-button--list {
  background: url(../img/list.svg) no-repeat center;
}
.courses__layout-button--grid-active {
  background: #262626 url(../img/grid-active.svg) no-repeat center;
}
.courses__layout-button--list-active {
  background: #262626 url(../img/list-active.svg) no-repeat center;
}
.courses__cards {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  align-items: stretch;
}
.courses__card {
  height: 100%;
  background: #fff;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.courses__card-img-wrap {
  position: relative;
  width: 100%;
  height: 202px;
  flex-shrink: 0;
  border-radius: 30px;
  overflow: hidden;
}
.courses__card-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.courses__card-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}
.courses__card-rating {
  padding: 8px 10px 8px 33px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(217, 217, 217, 0.01) url(../img/star.svg) no-repeat left 10px center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  color: #fff;
  -webkit-text-stroke-width: 0.76px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  font-family: "Montserrat", sans-serif;
  font-size: 24.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.courses__card-company {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 123px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
}
.courses__card-company-img {
  max-width: 120px;
  max-height: 38px;
}
.courses__card-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
}
.courses__card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.courses__card-time {
  display: flex;
  margin-top: 10px;
  color: #AFE982;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.courses__card-tags {
  margin-top: 10px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
}
.courses__card-tag {
  padding: 3.5px 10px;
  text-decoration: none;
  color: #8E8E8E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 7px;
  border: 1px solid #8E8E8E;
}
.courses__card-installments {
  display: flex;
  margin-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.courses__card-price-wrap {
  margin-top: 7px;
  display: flex;
  align-items: center;
  -moz-column-gap: 13px;
       column-gap: 13px;
}
.courses__card-price {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.courses__card-price-old {
  color: #8E8E8E;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  text-decoration-line: line-through;
}
.courses__card-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
  margin-top: 25px;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.courses__card-link {
  text-decoration: none;
  max-width: 100%;
  width: 100%;
}

.impressions__heading {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 80px;
}
.impressions__title {
  max-width: 800px;
}
.impressions__info {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.impressions__count-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.impressions__count-text {
  font-family: "Montserrat", sans-serif;
  font-size: 18.232px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.impressions__count {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.impressions .swiper-slide {
  width: auto;
}
.impressions .swiper-button-next {
  margin-top: 0;
  top: auto;
  position: relative;
  background: url(../img/arrow-right.svg) no-repeat center;
  width: 50px;
  height: 77px;
  border-radius: 10px;
  border: 1px solid #262626;
}
.impressions__card-video {
  width: 384px;
  height: 538px;
  border-radius: 43px;
  overflow: hidden;
  position: relative;
}
.impressions__card-video-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.impressions__card-video-controls {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  position: absolute;
  top: 30px;
  right: 30px;
}
.impressions__card-video-time {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.impressions__card-video-play {
  background: rgba(255, 255, 255, 0.4) url(../img/play.svg) no-repeat center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 10px;
  width: 40px;
  height: 40px;
  border: none;
  cursor: pointer;
}
.impressions__card-video-info {
  position: absolute;
  bottom: 30px;
  left: 30px;
}
.impressions__card-video-name {
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.impressions__card-video-city {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.impressions__card-review {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  background: #fff;
  border-radius: 43px;
  padding: 30px;
  max-width: 652px;
  width: 100%;
  padding: 50px;
}
.impressions__card-review-heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 310px;
  width: 100%;
}
.impressions__card-review-person {
  display: flex;
  flex-direction: column;
}
.impressions__card-review-name {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.impressions__card-review-city {
  margin-top: 5px;
  color: #C9C9C9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.impressions__card-review-school {
  max-width: 146px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.impressions__card-review-school-course {
  color: #C9C9C9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.impressions__card-review-school-name {
  margin-top: 5px;
  color: #C9C9C9;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.impressions__card-review-text {
  position: relative;
  margin-top: 120px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 25px;
  overflow: visible;
  max-width: 300px;
}
.impressions__card-review-text::before {
  position: absolute;
  content: "";
  left: 0;
  top: -20px;
  width: 20px;
  height: 17px;
  background: url(../img/quote.svg) no-repeat left top;
}
.impressions__card-review-button {
  margin-top: 70px;
  margin-left: 25px;
  color: #262626;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  background: none;
  border: none;
  border-bottom: 1px solid #262626;
}
.impressions__card-review-img-wrap {
  max-width: 200px;
  width: 100%;
  height: 236px;
  border-radius: 20px;
  overflow: hidden;
}
.impressions__card-review-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.reviews__cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.reviews__card {
  background: #fff;
  border-radius: 30px;
  padding: 30px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.reviews__card-heading {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.reviews__card-school {
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.reviews__card-school::before {
  position: absolute;
  content: "";
  left: -30px;
  top: -1px;
  width: 20px;
  height: 20px;
  background: url(../img/star-light.svg) no-repeat center;
}
.reviews__card-count {
  position: relative;
  margin-top: 27px;
  color: #AFE982;
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.reviews__card-count::before {
  position: absolute;
  content: "";
  left: -30px;
  top: -1px;
  width: 20px;
  height: 20px;
  background: url(../img/reviews-count.svg) no-repeat center;
}
.reviews__card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reviews__card-img {
  max-width: 160px;
  max-height: 50px;
}
.reviews__card-link {
  width: 58px;
  height: 40px;
  background: url(../img/arrow-right.svg) no-repeat center;
  border-radius: 10px;
  border: 1px solid #262626;
}

.schools {
  background: #fff;
  border-radius: 60px;
  padding: 70px 0 70px 70px;
}
.schools__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.schools__title {
  max-width: 805px;
  font-size: 62px;
}
.schools__title--accent {
  color: #AFE982;
}
.schools__text {
  display: flex;
  max-width: 670px;
  margin-top: 40px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.schools__slider-wrap {
  position: relative;
  max-width: 715px;
  width: 100%;
  overflow: hidden;
}
.schools__slider-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0));
  z-index: 2;
}
.schools__slider {
  position: relative;
  display: flex;
  align-items: center;
  gap: 30px;
  animation: slide 20s linear infinite;
}
.schools__slide {
  min-width: 249px;
  height: 249px;
  transition: all 0.5s ease;
  position: relative;
}
.schools__slide-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 30px;
}
.schools__button {
  margin-top: 70px;
  max-width: 230px;
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-837px);
  }
}
.top-courses {
  padding: 0px 30px;
  overflow: hidden;
  max-height: 1125px;
}
.top-courses__wrap {
  position: relative;
  padding: 60px 0px;
  background: #86BCED;
  border-radius: 60px;
}
.top-courses__title {
  color: #fff;
  max-width: 753px;
  margin: auto;
  text-align: center;
}
.top-courses__cards-wrap {
  border-radius: 30px;
  max-height: 790px;
  padding-bottom: 60px;
  overflow: hidden;
}
.top-courses__cards {
  border-radius: 30px;
  margin-top: 70px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-height: 730px;
  overflow-y: scroll;
}
.top-courses__card {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  row-gap: 30px;
  border-radius: 30px;
  background: #fff;
  overflow: hidden;
}
.top-courses__card-img-wrap {
  position: relative;
  height: 335px;
  width: 443px;
  overflow: hidden;
}
.top-courses__card-rating {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 8px 10px 8px 33px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: rgba(217, 217, 217, 0.01) url(../img/star.svg) no-repeat left 10px center;
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 24.063px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.top-courses__card-company {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 123px;
  height: 40px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
}
.top-courses__card-company-img {
  max-width: 120px;
  max-height: 38px;
}
.top-courses__card-img {
  -o-object-fit: cover;
     object-fit: cover;
}
.top-courses__card-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 30px;
  max-width: 1090px;
  width: 100%;
}
.top-courses__card-heading {
  display: flex;
  flex-direction: column;
}
.top-courses__card-title {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.top-courses__card-info {
  margin-top: 15px;
  display: flex;
  align-items: center;
  color: #AFE982;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.top-courses__card-tags {
  margin-top: 15px;
  display: flex;
  align-items: center;
  gap: 3px;
}
.top-courses__card-tag {
  padding: 3.5px 10px;
  text-decoration: none;
  color: #8E8E8E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 7px;
  border: 1px solid #8E8E8E;
}
.top-courses__card-text {
  margin-top: 40px;
  font-kerning: none;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 500px;
}
.top-courses__prices-buttons {
  height: 272px;
  max-width: 324px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top-courses__prices {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 10px;
}
.top-courses__installments {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.top-courses__prices-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.top-courses__price-old {
  color: #8E8E8E;
  text-decoration-line: line-through;
}
.top-courses__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 3px;
       column-gap: 3px;
}
.top-courses__button {
  max-width: 272px;
  width: 100%;
}

.selection__heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 70px;
}
.selection__title {
  max-width: 500px;
}
.selection__interaction {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.selection__interaction-wrap {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
}
.selection__link {
  padding: 15px 30px;
  border-radius: 10px;
  text-decoration: none;
  color: #262626;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
.selection__buttons {
  display: flex;
  align-items: center;
  -moz-column-gap: 5px;
       column-gap: 5px;
}
.selection .swiper-button-prev {
  position: relative;
  width: 58px;
  height: 40px;
  background: url(../img/arrow-right.svg) no-repeat center;
  border-radius: 10px;
  border: 1px solid #262626;
  transform: rotate(180deg);
}
.selection .swiper-button-next {
  position: relative;
  left: 0;
  right: 0;
  width: 58px;
  height: 40px;
  background: url(../img/arrow-right.svg) no-repeat center;
  border-radius: 10px;
  border: 1px solid #262626;
}
.selection .swiper-slide {
  position: relative;
  height: 520px;
  border-radius: 30px;
  overflow: hidden;
  width: auto;
}
.selection__slide-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
}
.selection__slide-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
}
.selection__slide-tag {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: 1px solid #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: rgba(217, 217, 217, 0.01);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
}
.selection__slide-title {
  margin-top: 15px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
}
.selection__img {
  -o-object-fit: cover;
     object-fit: cover;
}

.about {
  padding: 0px 30px;
}
.about__wrap {
  padding: 100px 0;
  background: #fff;
  border-radius: 60px;
}
.about__title {
  max-width: 800px;
  text-align: center;
  margin: auto;
  margin-bottom: 70px;
}
.about__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 30px;
  align-items: stretch;
}
.about__cards:not(:first-child) {
  margin-top: 30px;
}
.about__info-card {
  background: #F8F8F8;
  border-radius: 30px;
  padding: 30px;
  height: 364px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about__info-card-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.about__info-card-num {
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about__info-card-icon {
  width: 110px;
  height: 110px;
}
.about__info-card-icon--search {
  background: url(../img/info-card-icon-search.svg) no-repeat center;
}
.about__info-card-text {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about__info-card-text--accent {
  font-weight: 600;
}
.about__statistic-card {
  position: relative;
  background: #F8F8F8;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease;
}
.about__statistic-card:hover {
  background: #86BCED;
  color: #fff;
}
.about__statistic-card:hover .about__statistic-card-info {
  background: #fff;
  color: #86BCED;
}
.about__statistic-card:hover .about__statistic-card-text {
  opacity: 1;
}
.about__statistic-card:nth-child(1) .about__statistic-card-text {
  max-width: 275px;
}
.about__statistic-card:nth-child(2) .about__statistic-card-text {
  max-width: 350px;
}
.about__statistic-card:nth-child(3) .about__statistic-card-text {
  max-width: 418px;
}
.about__statistic-card-count {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about__statistic-card-count--small {
  font-size: 51px;
}
.about__statistic-card-info {
  position: absolute;
  top: 30px;
  right: 30px;
  padding: 30px;
  border-radius: 999px;
  background: #86BCED;
  padding: 10px 30px;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.about__statistic-card-text {
  margin-top: 10px;
  text-align: center;
  font-kerning: none;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  opacity: 0.6;
}

.news__content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 70px;
}
.news__card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 785px;
  width: 100%;
  cursor: pointer;
}
.news__card--active {
  cursor: default;
  flex-direction: column;
}
.news__card--active .news__card-img-wrap {
  height: 520px;
  width: 100%;
}
.news__card--active .news__card-info {
  max-width: 100%;
}
.news__card--active .news__card-tags {
  margin-top: 30px;
}
.news__card--active .news__card-title {
  font-size: 45px;
}
.news__card--active .news__card-text {
  display: block;
}
.news__card-img-wrap {
  width: 250px;
  height: 160px;
  border-radius: 20px;
  overflow: hidden;
}
.news__card-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news__card-info {
  max-width: 507px;
}
.news__card-tags {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3px;
}
.news__card-tag {
  padding: 3.5px 10px;
  text-decoration: none;
  color: #8E8E8E;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 7px;
  border: 1px solid #8E8E8E;
}
.news__card-title {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.news__card-text {
  max-width: 717px;
  display: none;
  margin-top: 30px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.news__cards-wrap {
  max-width: 785px;
  width: 100%;
}
.news__cards {
  display: grid;
  row-gap: 20px;
}
.news__link {
  margin-top: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 55px;
  text-decoration: none;
  color: #262626;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  background: #fff;
  border-radius: 10px;
}

.question__cards {
  margin-top: 60px;
  display: grid;
}
.question__card {
  padding: 50px 0px;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid #ECECEC;
  cursor: pointer;
}
.question__card:last-child {
  border-bottom: 1px solid #ECECEC;
}
.question__card--active .question__card-content {
  height: var(--content-height);
}
.question__card--active .question__card-icon {
  transform: rotate(180deg);
}
.question__card-content {
  width: 100%;
  height: 50px;
  overflow: hidden;
  transition: height 0.3s ease-in-out;
}
.question__card-heading {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1500px;
  width: 100%;
}
.question__card-title {
  max-width: 580px;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  line-height: 100%;
  font-style: normal;
  font-weight: 600;
}
.question__card-subtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  max-width: 700px;
}
.question__card-icon {
  width: 25px;
  height: 25px;
  background: url(../img/question-arrow.svg) no-repeat center;
  transition: transform 0.3s ease-in-out;
}
.question__card-text {
  margin-top: 60px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}