// COLORS

$light: #fff;
$background: #F9F9F9;
$dark: #262626;
$main: #86BCED;
$accent: #AFE982;
$gray: #8E8E8E;
$button: #F8F8F8;

// CONTAINER

$container: 1596px;
$desktop-width: 1920px;

// SETTINGS

$main-font: "Montserrat", sans-serif;
$secondary-font: "Open Sans", sans-serif;
$button-border-radius: 10px;


@mixin flex-center-between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@mixin flex-start-between {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

@mixin flex-end-between {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

@mixin flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: $background;
    color: $dark;
    font-family: $main-font;
}

.container {
    max-width: $container;
    width: 90%;
    margin: auto;
}

.logo {
    width: 200px;
    height: 34px;
}

.section {
    margin-top: 200px;
}

.button {
    @include flex-center-center;
    height: 50px;
    border-radius: $button-border-radius;
    background: $button;
    color: $dark;
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    text-decoration: none;
    cursor: pointer;
    &:hover {
        background: $accent;
        color: $light;
    }
}

.button-favorite {
    border: none;
    min-width: 50px;
    height: 50px;
    background: $button url(../img/favorite.svg) no-repeat center;
    cursor: pointer;
    border-radius: 10px;
    transition: background 0.1s ease-in-out;

    &:hover {
        background: $accent url(../img/favorite-active.svg) no-repeat center;
    }

    &--active {
        background: $accent url(../img/favorite-active.svg) no-repeat center;
    }
}

.section-title {
    font-family: $main-font;
    font-size: 70px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    &--accent {
        font-family: $secondary-font;
        font-style: italic;
        font-weight: 400;
    }
}
.swiper-button-prev, 
.swiper-button-next {
    left: auto !important;
    right: auto !important; 
    top: auto !important;
    bottom: auto !important;
    margin-top: 0 !important;

    &::after {
        content: '' !important;
    }

}


// HEADER

.header {
    @include flex-center-between;
    background: $dark;

    &--main {
        margin-top: 60px;
    }

    &__content {
        @include flex-center-between;
        max-width: 1110px;
        width: 100%;
    }

    &__nav {
        @include flex-center-between;
        max-width: 705px;
        width: 100%;
    }

    &__link {
        text-decoration: none;
        color: $light;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &--courses {
            padding-left: 20px;
            background: url(../img/burger.svg) no-repeat left;
        }

        &--info {
            padding-right: 20px;
            background: url(../img/information.svg) no-repeat right;
        }
    }

    &__interaction {
        @include flex-center-between;
        max-width: 210px;
        width: 100%;
    }

    &__search {
        border: none;
        width: 17px;
        height: 19px;
        background: url(../img/search.svg) no-repeat center / cover;
        cursor: pointer;
    }

    &__button {
        padding: 10px 19px;
        border-radius: $button-border-radius;
        flex-shrink: 0;
        color: $main;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background-color: $light;
        cursor: pointer;
        border: none;
    }
    
}


// PROMO

.promo {
    margin-top: calc(-42px - 60px);
    padding: 20px;

    &__wrap {
        background: $main;
        border-radius: 65px;
    }

    &__content {
        @include flex-start-between;  
        max-width: $container;
        width: calc(($container / ($desktop-width - 20px)) * 100%);
        margin: auto;
        padding-bottom: 90px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__heading {
        margin-top: 212px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: "Open Sans Hebrew", sans-serif;
        font-size: 70px;
        font-weight: 500;
        line-height: 100%;
        color: $light;
    }

    &__form {
        @include flex-center-between;
        margin-top: 30px;
        max-width: 785px;
        width: 100%;
    }

    &__input-wrapper {
        position: relative;
        max-width: 373px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 100%;
        height: 44px;
        border-radius: 12px;
        border: none;
        padding-left: 30px;

        &::placeholder {
            color: #E6E6E6;
            font-family: $main-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
        }
    }

    &__button {
        position: absolute;
        right: 0;
    }

    &__form-icon {
        width: 28px;
        height: 15px;
        background: url(../img/arrow-light.svg) no-repeat center / cover;
    }

    &__form-text {
        @include flex-center-center;
        color: $light;  
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border: 1px solid $light;
        border-radius: 12px;
        max-width: 360px;
        width: 100%;
        height: 44px;
    }

    &__requests {
        margin-top: 35px;
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    &__request-link {
        text-decoration: none;
        color: $light;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        border-bottom: 1px solid $light;
    }

    &__tags {
        max-width: 660px;
        width: 100%;
        margin-top: 80px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3px;
    }

    &__tag {
        text-decoration: none;
        color: $light;  
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 999px;
        border: 1px solid $light;
        padding: 10px 30px;

        &--more {
            background: $light;
            color: $main;
        }
    }

    &__img-wrap {
        position: relative;
        margin-top: 100px;
        width: 754.0px;
        height: 639.0px;
    }

    &__img-text {
        @include flex-center-center;
        color: $light;
        font-family: $main-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        position: absolute;
        top: 18%;
        left: 4%;
        width: 174px;
        height: 50px;
        border-radius: 11px;
        border: 1px solid rgba(255, 255, 255, 0.20);
        background: rgba(255, 255, 255, 0.10);
        backdrop-filter: blur(5.5px);

        &::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            border-radius: 11px;
            right: 0;
            bottom: 0;
            width: 16px;
            height: 16px;
            background: rgba(#A4D3FF, 0.6) url(../img/round.svg) no-repeat center;
            transform: translate(40%, 40%);
        }
    }

    &__img {
        object-fit: cover;
    }
}


.courses {

    &__title {
        max-width: 905px;
    }

    &__menu {
        margin-top: 50px;
        @include flex-center-between;
    }

    &__categories {
        display: flex;
        align-items: center;
        column-gap: 3px;
    }

    &__category {
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding: 10px 30px;
        border-radius: 999px;
        border: 1px solid $dark;
        background: none;
        cursor: pointer;

        &--popular {
            padding-left: 27px;
            background: url(../img/popular.svg) no-repeat left center;
        }
    }

    &__layout-buttons {
        display: flex;
        align-items: center;
        column-gap: 3px;
    }

    &__layout-button {
        width: 40px;
        height: 40px;
        background: none;
        border-radius: 10px;
        border: 1px solid $dark;
        cursor: pointer;

        &--grid {
            background: url(../img/grid.svg) no-repeat center;
        }

        &--list {
            background: url(../img/list.svg) no-repeat center;
        }

        &--grid-active {
            background: $dark url(../img/grid-active.svg) no-repeat center;
        }

        &--list-active {
            background: $dark url(../img/list-active.svg) no-repeat center;
        }
    }

	&__cards {
        margin-top: 60px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        align-items: stretch;
	}

	&__card {
        height: 100%;
        background: $light;
        border-radius: 30px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
	}

	&__card-img-wrap {
        position: relative;
        width: 100%;
        height: 202px;
        flex-shrink: 0;
        border-radius: 30px;
        overflow: hidden;
	}

	&__card-img {
        object-fit: cover;
	}

	&__card-info {
        @include flex-center-between;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
	}

	&__card-rating {
        padding: 8px 10px 8px 33px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.40);
        background: rgba(217, 217, 217, 0.01) url(../img/star.svg) no-repeat left 10px center;
        backdrop-filter: blur(12px);
        color: $light;
        -webkit-text-stroke-width: 0.76px;
        -webkit-text-stroke-color: rgba(255, 255, 255, 0.40);
        font-family: $main-font;
        font-size: 24.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
	}

	&__card-company {
        @include flex-center-center;
        width: 123px;
        height: 40px;
        background: $light;
        border-radius: 10px;
	}

    &__card-company-img {
        max-width: 120px;
        max-height: 38px;
    }

    &__card-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 30px;
    }

	&__card-title {
        font-family: $main-font;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
	}

	&__card-time {
        display: flex;
        margin-top: 10px;
        color: $accent;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
	}
    
	&__card-tags {
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3px;
	}

	&__card-tag {
        padding: 3.5px 10px;
        text-decoration: none;
        color: $gray;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 7px;
        border: 1px solid $gray;
	}

	&__card-installments {
        display: flex;
        margin-top: 25px;
        font-family: $main-font;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
	}

	&__card-price-wrap {
        margin-top: 7px;
        display: flex;
        align-items: center;
        column-gap: 13px;
	}

	&__card-price {
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
	}

	&__card-price-old {
        color: $gray;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        text-decoration-line: line-through;
	}

	&__card-buttons {
        @include flex-center-between;
        margin-top: 14px;
        margin-top: 25px;
        column-gap: 3px;
	}

	&__card-link {
        text-decoration: none;
        max-width: 100%;
        width: 100%;
	}



}


// IMPRESSIONS

.impressions {

    &__heading {
        @include flex-end-between;
        margin-bottom: 80px;
    }

    &__title {
        max-width: 800px;
    }

    &__info {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__count-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__count-text {
        font-family: $main-font;
        font-size: 18.232px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    &__count {
        font-family: $main-font;
        font-size: 70px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    & .swiper-slide {
        width: auto;
    }

    & .swiper-button-next {
        margin-top: 0;
        top: auto;
        position: relative;
        background: url(../img/arrow-right.svg) no-repeat center;
        width: 50px;
        height: 77px;
        border-radius: 10px;
        border: 1px solid $dark;
    }

    &__card-video {
        width: 384px;
        height: 538px;
        border-radius: 43px;
        overflow: hidden;
        position: relative;
    }

    &__card-video-img {
        object-fit: cover;
    }

    &__card-video-controls {
        display: flex;
        align-items: center;
        column-gap: 10px;
        position: absolute;
        top: 30px;
        right: 30px;
    }

    &__card-video-time {
        color: $light;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__card-video-play {
        background: rgba(255, 255, 255, 0.40) url(../img/play.svg) no-repeat center;
        backdrop-filter: blur(5px);
        border-radius: 10px;
        width: 40px;
        height: 40px;
        border: none;
        cursor: pointer;
    }

    &__card-video-info {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }

    &__card-video-name {
        color: $light;
        font-family: Montserrat, sans-serif ;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__card-video-city {
        color: $light;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__card-review {
        @include flex-start-between;
        background: $light;
        border-radius: 43px;
        padding: 30px;
        max-width: 652px;
        width: 100%;
        padding: 50px;
    }

    // &__card-review-content {

    // }

    &__card-review-heading {
        @include flex-center-between;
        max-width: 310px;
        width: 100%;
    }

    &__card-review-person {
        display: flex;
        flex-direction: column;
    }

    &__card-review-name {
        font-family: $main-font;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    &__card-review-city {
        margin-top: 5px;
        color: #C9C9C9;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__card-review-school {
        max-width: 146px;
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    &__card-review-school-course {
        color: #C9C9C9;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__card-review-school-name {
        margin-top: 5px;
        color: #C9C9C9;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    &__card-review-text {
        position: relative;
        margin-top: 120px;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding-left: 25px;
        overflow: visible;
        max-width: 300px;

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: -20px;
            width: 20px;
            height: 17px;
            background: url(../img/quote.svg) no-repeat left top;
        }
    }

    &__card-review-button {
        margin-top: 70px;
        margin-left: 25px;
        color: $dark;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        cursor: pointer;
        background: none;
        border: none;
        border-bottom: 1px solid $dark;
    }

    &__card-review-img-wrap {
        max-width: 200px;
        width: 100%;
        height: 236px;
        border-radius: 20px;
        overflow: hidden;
    }

    &__card-review-img {
        object-fit: cover;
    }

}


// REVIEWS

.reviews {

    // &__title {
    // }

    &__cards {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__card {
        background: $light;
        border-radius: 30px;
        padding: 30px;
        height: 272px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__card-heading {
        padding-left: 30px;
        display: flex;
        flex-direction: column;
    }

    &__card-school {
        position: relative;
        font-family: $main-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;

        &::before {
            position: absolute;
            content: "";
            left: -30px;
            top: -1px;
            width: 20px;
            height: 20px;
            background: url(../img/star-light.svg) no-repeat center;
        }
    }

    // &__card-rating {
    // }

    &__card-count {
        position: relative;
        margin-top: 27px;
        color: $accent;
        font-family: $main-font;
        font-size: 17px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;

        &::before {
            position: absolute;
            content: "";
            left: -30px;
            top: -1px;
            width: 20px;
            height: 20px;
            background: url(../img/reviews-count.svg) no-repeat center;
        }
    }

    &__card-content {
        @include flex-center-between;
    }

    &__card-img {
        max-width: 160px;
        max-height: 50px;
    }

    &__card-link {
        width: 58px;
        height: 40px;
        background: url(../img/arrow-right.svg) no-repeat center;
        border-radius: 10px;
        border: 1px solid $dark;
    }
}


// SCHOOLS

// .schools {
//     background: $light;
//     border-radius: 60px;
//     padding: 70px 0 70px 70px;

//     &__content {
//         @include flex-center-between;
//     }
    
//     &__title {
//         max-width: 805px;
//         font-size: 62px;

//         &--accent {
//             color: $accent;
//         }
//     }

//     &__text {
//         display: flex;
//         max-width: 670px;
//         margin-top: 40px;
//         font-family: $main-font;
//         font-size: 16px;
//         font-style: normal;
//         font-weight: 600;
//         line-height: normal;
//     }

//     &__slider-wrap {
//         max-width: 715px;
//         width: 100%;
//         overflow: hidden;
//     }

//     &__slider {
//         width: auto;
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         gap: 30px;
//         overflow: hidden;
//     }

//     &__slide {
//         min-width: 249px;
//         height: 249px;
        
//         &--active {
//             min-width: 384px;
//             height: 384px;
//             z-index: 1;
//         }

//     }

//     &__slide-img {
//         object-fit: cover;
//     }

//     &__button {
//         margin-top: 70px;
//         max-width: 230px;
//         width: 100%;
//     }
    
// }

// ... existing code ...

.schools {
    background: $light;
    border-radius: 60px;
    padding: 70px 0 70px 70px;

    &__content {
        @include flex-center-between;
    }
    
    &__title {
        max-width: 805px;
        font-size: 62px;

        &--accent {
            color: $accent;
        }
    }

    &__text {
        display: flex;
        max-width: 670px;
        margin-top: 40px;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__slider-wrap {
        position: relative;
        max-width: 715px;
        width: 100%;
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 200px;
            background: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
            z-index: 2;
        }
    }

    &__slider {
        position: relative;
        display: flex;
        align-items: center;
        gap: 30px;
        animation: slide 20s linear infinite;
    }

    &__slide {
        min-width: 249px;
        height: 249px;
        transition: all 0.5s ease;
        position: relative;
    }

    &__slide-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 30px;
    }

    &__button {
        margin-top: 70px;
        max-width: 230px;
        width: 100%;
    }
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-279px * 3));
    }
}


// TOP COURSES

.top-courses {
    padding: 0px 30px;
    overflow: hidden;
    max-height: 1125px;

    &__wrap {
        position: relative;
        padding: 60px 0px;
        background: $main;
        border-radius: 60px;
    }

    &__title { 
        color: $light;
        max-width: 753px;
        margin: auto;
        text-align: center;
    }

    &__cards-wrap {
        border-radius: 30px;
        max-height: 790px;
        padding-bottom: 60px;
        overflow: hidden; 
    }

	&__cards {
        border-radius: 30px;
        margin-top: 70px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-height: 730px;
        overflow-y: scroll;
        // scrollbar-width: none;
        // -ms-overflow-style: none;

        // &::-webkit-scrollbar {
        //     display: none;
        // }
	}

	&__card {
        @include flex-start-between;
        row-gap: 30px;
        border-radius: 30px;
        background: $light;
        overflow: hidden;
	}

	&__card-img-wrap {
        position: relative;
        height: 335px;
        width: 443px;
        overflow: hidden;
	}

    &__card-rating {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 8px 10px 8px 33px;
        border-radius: 10px;
        border: 1px solid rgba(255, 255, 255, 0.4);
        background: rgba(217, 217, 217, 0.01) url(../img/star.svg) no-repeat left 10px center;
        backdrop-filter: blur(12px);
        color: #fff;
        font-family: $main-font;
        font-size: 24.063px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    &__card-company {
        @include flex-center-center;
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 123px;
        height: 40px;
        background: #fff;
        border-radius: 10px;
        overflow: hidden;
    }

    &__card-company-img {
        max-width: 120px;
        max-height: 38px;
    }

	&__card-img {
        object-fit: cover;
	}

	&__card-content {
        @include flex-start-between;
        padding: 30px;
        max-width: 1090px;
        width: 100%;
	}

	&__card-heading {
        display: flex;
        flex-direction: column;
	}

	&__card-title {
        font-family: $main-font;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
	}

	&__card-info {
        margin-top: 15px;
        display: flex;
        align-items: center;
        color: $accent;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
	}

	// &__card-time {
	// }

	// &__card-count {
	// }

	&__card-tags {
        margin-top: 15px;
        display: flex;
        align-items: center;
        gap: 3px;
	}

    &__card-tag {
        padding: 3.5px 10px;
        text-decoration: none;
        color: $gray;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 7px;
        border: 1px solid $gray;
    }

	&__card-text {
        margin-top: 40px;
        font-kerning: none;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 500px;
	}

    &__prices-buttons {
        height: 272px;
        max-width: 324px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

	&__prices {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 10px;
	}

	&__installments {
        font-family: $main-font;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
	}

    &__prices-wrap {
        display: flex;
        align-items: center;
        column-gap: 10px;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
	}


	// &__price {
	// }

	&__price-old {
        color: $gray;
        text-decoration-line: line-through;
	}
    
	&__buttons {
        display: flex;
        align-items: center;
        column-gap: 3px;
	}

	&__button {
        max-width: 272px;
        width: 100%;
	}



}


// SELECTION

.selection {

    &__heading {
        @include flex-start-between;
        margin-bottom: 70px;
    }

    &__title {
        max-width: 500px;
    }

    &__interaction {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__interaction-wrap {
        display: flex;
        align-items: center;
        column-gap: 15px;
    }

    &__link {
        padding: 15px 30px;
        border-radius: 10px;
        text-decoration: none;
        color: $dark;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
    }

    &__buttons {
        display: flex;
        align-items: center;
        column-gap: 5px;
    }

    & .swiper-button-prev {
        position: relative;
        width: 58px;
        height: 40px;
        background: url(../img/arrow-right.svg) no-repeat center;
        border-radius: 10px;
        border: 1px solid #262626;
        transform: rotate(180deg);
    }

    & .swiper-button-next {
        position: relative;
        left: 0;
        right: 0;
        width: 58px;
        height: 40px;
        background: url(../img/arrow-right.svg) no-repeat center;
        border-radius: 10px;
        border: 1px solid #262626;
    }

    & .swiper-slide {
        position: relative;
        height: 520px;
        border-radius: 30px;
        overflow: hidden;
        width: auto;
    }

    &__slide-content {
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px;
    }

    &__slide-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3px;
    }

    &__slide-tag {
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
        color: $light;
        border: 1px solid $light;
        font-family: $main-font;
        font-size: 13px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: rgba(217, 217, 217, 0.01);
        backdrop-filter: blur(12px);
    }

    &__slide-title {
        margin-top: 15px;
        color: $light;
        font-family: $main-font;
        font-size: 21px;
        font-style: normal;
        font-weight: 600;
        line-height: 100%;
    }

    &__img {
        object-fit: cover;
    }
}


// ABOUT

.about {
    padding: 0px 30px;

    &__wrap {
        padding: 100px 0;
        background: $light;
        border-radius: 60px;
    }

    &__title {
        max-width: 800px;
        text-align: center;
        margin: auto;
        margin-bottom: 70px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 30px;
        align-items: stretch;

        &:not(:first-child) {
            margin-top: 30px;
        }
    }

    &__info-card {
        background: #F8F8F8;
        border-radius: 30px;
        padding: 30px;
        height: 364px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__info-card-heading {
        @include flex-start-between;
    }

    &__info-card-num {
        font-family: $main-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__info-card-icon {
        width: 110px;
        height: 110px;

        &--search {
            background: url(../img/info-card-icon-search.svg) no-repeat center;
        }
    }

    &__info-card-text {
        font-family: $main-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &--accent {
            font-weight: 600;
        }
    }

    &__statistic-card {
        position: relative;
        background: #F8F8F8;
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        transition: all 0.3s ease;
        &:hover {
            background: $main;
            color: $light;

            .about__statistic-card-info {
                background: $light;
                color: $main;
            }

            .about__statistic-card-text {
                opacity: 1;
            }
        }

        &:nth-child(1) .about__statistic-card-text {
            max-width: 275px;
        }
    
        &:nth-child(2) .about__statistic-card-text {
            max-width: 350px;
        }
    
        &:nth-child(3) .about__statistic-card-text {
            max-width: 418px;
        }
    }

    &__statistic-card-count {
        margin-top: 50px;
        font-family: $main-font;
        font-size: 90px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        &--small {
            font-size: 51px;
        }
    }

    &__statistic-card-info {
        position: absolute;
        top: 30px;
        right: 30px;
        padding: 30px;
        border-radius: 999px;
        background: $main;
        padding: 10px 30px;
        color: $light;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    &__statistic-card-text {
        margin-top: 10px;
        text-align: center;
        font-kerning: none;
        font-family: $main-font;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
        opacity: 0.6;
    }
}


.news {

    &__title {

    }
    
    &__content {
        @include flex-start-between;
        margin-top: 70px;
    }
    
    &__card {
        @include flex-center-between;
        max-width: 785px;
        width: 100%;
        cursor: pointer;
    
        &--active {
            cursor: default;
            flex-direction: column;

            & .news__card-img-wrap {
                height: 520px;
                width: 100%;
            }

            & .news__card-info {
                max-width: 100%;
            }

            & .news__card-tags {
                margin-top: 30px;
            }

            & .news__card-title {
                font-size: 45px;
            }

            & .news__card-text {
                display: block;
            }
            
            
        }
    }
    
    &__card-img-wrap {
        width: 250px;
        height: 160px;
        border-radius: 20px;
        overflow: hidden;
    }
    
    &__card-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__card-info {
        max-width: 507px;
    }
    
    &__card-tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 3px;
    }
    
    &__card-tag {
        padding: 3.5px 10px;
        text-decoration: none;
        color: $gray;
        font-family: $main-font;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        border-radius: 7px;
        border: 1px solid $gray;
    }
    
    &__card-title {
        margin-top: 10px;
        font-family: $main-font;
        font-size: 25px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    
    &__card-text {
        max-width: 717px;
        display: none;
        margin-top: 30px;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
    &__cards-wrap {
        max-width: 785px;
        width: 100%;
    }
    
    &__cards {
        display: grid;
        row-gap: 20px;
    }
    
    &__link {
        margin-top: 26px;
        @include flex-center-center;
        width: 100%;
        height: 55px;
        text-decoration: none;
        color: $dark;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        background: $light;
        border-radius: 10px;
    }
}

    
// QUESTION

.question {

    // &__title {

    // }

    &__cards {
        margin-top: 60px;
        display: grid;
    }

    &__card {
        padding: 50px 0px;
        width: 100%;
        overflow: hidden;
        border-top: 1px solid #ECECEC;
        cursor: pointer;

        &:last-child {
            border-bottom: 1px solid #ECECEC;
        }

        &--active {
            .question__card-content {
                height: var(--content-height);
            }

            .question__card-icon {
                transform: rotate(180deg);
            }
        }
    }

    &__card-content {
        width: 100%;
        height: 50px;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }

    &__card-heading {
        @include flex-start-between;
        max-width: 1500px;
        width: 100%;
    }

    &__card-title {
        max-width: 580px;
        font-family: $main-font;
        font-size: 25px;
        line-height: 100%;
        font-style: normal;
        font-weight: 600;
    }

    &__card-subtitle {
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        max-width: 700px;
    }

    &__card-icon {
        width: 25px;
        height: 25px;
        background: url(../img/question-arrow.svg) no-repeat center;
        transition: transform 0.3s ease-in-out;
    }
    
    &__card-text {
        margin-top: 60px;
        font-family: $main-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }
    
}

