@use "@/app/variables" as *;

.reviews {
  &__cards {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  &__card {
    background: $light;
    border-radius: 30px;
    padding: 30px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--more {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      background: $light;
    }
  }

  &__card-heading {
    padding-left: 30px;
    display: flex;
    flex-direction: column;
  }

  &__card-school {
    position: relative;
    font-family: $main-font;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    &::before {
      position: absolute;
      content: "";
      left: -30px;
      top: -1px;
      width: 20px;
      height: 20px;
      background: url("/images/star-light.svg") no-repeat center;
    }
  }

  &__card-count {
    position: relative;
    margin-top: 27px;
    color: $accent;
    font-family: $main-font;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;

    &::before {
      position: absolute;
      content: "";
      left: -30px;
      top: -1px;
      width: 20px;
      height: 20px;
      background: url("/images/reviews-count.svg") no-repeat center;
    }
  }

  &__card-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__card-img {
    max-width: 160px;
    max-height: 50px;
    width: auto;
    height: auto;
    object-fit: contain;
  }

  &__card-link {
    width: 58px;
    height: 40px;
    background: url("/images/arrow-right.svg") no-repeat center;
    border-radius: 10px;
    border: 1px solid $dark;
    flex-shrink: 0;
    transition: all 0.1s ease-in-out;
    &:hover {
      background: $dark url("/images/arrow-right-active.svg") no-repeat center;
    }
    &:active {
      opacity: 0.8;
    }
  }

  &__card-more-text {
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  &__card-more-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    font-family: $main-font;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    background: $accent;
    border-radius: 10px;
    max-width: 230px;
    width: 100%;
    height: 50px;
    color: $light;
    text-decoration: none;
    transition: all 0.1s ease-in-out;
    &:hover {
      background: rgba($accent, 0.6);
    }
    &:active {
      background: $accent;
    }
  }
}

@media screen and (max-width: 1500px) {
  .reviews {
    &__cards {
      grid-template-columns: repeat(3, 1fr);
    }

    &__card-img {
      max-width: 100px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .reviews {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 768px) {
  .reviews {
    &__cards {
      flex-direction: column;
    }

    &__card {
      height: 200px;
    }

    &__card-img {
      max-width: 100px;
    }
  }
}

@media screen and (max-width: 600px) {
  .reviews {
    &__cards {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
