@use "@/app/variables" as *;

.top-courses {
  &--small {
    padding: 0 30px;
    // overflow: hidden;
    // max-height: 1125px;

    & .top-courses__wrap {
      position: relative;
      padding: 60px 0;
      background: $main;
      border-radius: 60px;
    }

    & .top-courses__title {
      color: $light;
      margin: auto;
      margin-bottom: 60px;
      text-align: center;
    }
  }

  &__title {
    max-width: 753px;
    margin-bottom: 60px;
  }

  &__cards {
    border-radius: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 992px) {
  .top-courses,
  .footer {
    .container {
      width: 85vw;
    }
  }
}

@media screen and (max-width: 600px) {
  .top-courses__wrap {
    border-radius: 40px;
  }
}

@media screen and (max-width: 480px) {
  .top-courses {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .top-courses .container {
    width: 80vw;
  }
}
